on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: CI

jobs:
  rustfmt:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: ["libsignal-service-actix", "libsignal-service-hyper"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --manifest-path ${{ matrix.project }}/Cargo.toml

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: ["libsignal-service-actix", "libsignal-service-hyper"]
        toolchain: ["stable", "nightly"]
        coverage: [false, true]
        exclude:
          - toolchain: stable
            coverage: true
          - toolchain: nightly
            coverage: false
        include:
          - project: "libsignal-service-actix"
            toolchain: "1.61"
            coverage: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        if: ${{ !matrix.coverage }}
        with:
          command: test
          args: --all-targets --no-fail-fast --manifest-path ${{ matrix.project }}/Cargo.toml

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets --manifest-path ${{ matrix.project }}/Cargo.toml

      - name: Run tests
        uses: actions-rs/cargo@v1
        if: ${{ matrix.coverage }}
        with:
          command: test
          args: --all-targets --no-fail-fast --manifest-path ${{ matrix.project }}/Cargo.toml
        env:
          CARGO_INCREMENTAL: '0'
          RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests'
          RUSTDOCFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests'

      - name: Generate code coverage
        uses: actions-rs/grcov@v0.1
        if: ${{ matrix.coverage }}

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
        if: ${{ matrix.coverage }}
